// Addons

// My colours
$off-white:         #d5d5d5;
$dark-sea-green:    #20603b;
$sea-green:         #2e8b57;

div.blurb {
    color: $primary;
    
}

p.blurb {
    //text-align: right;
    color: $gray-800;
    font-style: italic;
}



/**/
.temp-message {
    background: rgba($sea-green, 0.3);
    z-index: 10000;

}